# Build/Maven #
###############
**/target/
# Eclipse #
###########
.project
.classpath
.settings
**/bin/
.metadata/
# IntelliJ #
############
.idea/
*.iml
*.swp
src/main/resources/spark/template/freemarker/oldsignin.ftl
src/main/resources/spark/template/freemarker/game2.ftl
src/main/resources/spark/template/freemarker/old.ftl
src/main/resources/spark/template/freemarker/sign_up.ftl
